In [1]:
import pandas as pd
import mysql.connector

In [2]:
# Creamos la conexión con la base de datos
conn = mysql.connector.connect(user='root', password='', host='localhost', database='bgg')

## BGG Items Categories

In [3]:
# Obtenemos un dataframe con todos los datos de la tabla de juegos

sql_query = "SELECT * FROM game_categories"
df = pd.read_sql_query(sql_query, conn)

In [4]:
bgg_categories_df = df.groupby('gameId').agg({'name': lambda x: '|'.join(list(x))}).reset_index()

In [5]:
bgg_categories_df.to_csv('../data/bgg_items_categories.csv', index=False)

## BGG Items Families

In [6]:
# Obtenemos un dataframe con todos los datos de la tabla de juegos

sql_query = "SELECT * FROM game_families"
df = pd.read_sql_query(sql_query, conn)

In [7]:
df

           id                                 name  gameId
0       10643                     Country: Germany       1
1       34116                 Political: Elections       1
2          91  Series: Classic Line (Valley Games)       1
3        7005                   Creatures: Dragons      10
4       19299  Creatures: Fairies / Elves / Pixies      10
...       ...                                  ...     ...
197266   5597                       Brands: Disney    9999
197267  63080                 Characters: Hercules    9999
197268   5607       Components: 3-Dimensional (3D)    9999
197269  62772                     Mythology: Greek    9999
197270   8374            Crowdfunding: Kickstarter   99994

[197271 rows x 3 columns]

In [8]:
bgg_families_df = df.groupby('gameId').agg({'name': lambda x: '|'.join(list(x))}).reset_index()

In [9]:
bgg_categories_df

        gameId                                               name
0            1                     Economic|Negotiation|Political
1            2                                  Card Game|Fantasy
2            3                         Abstract Strategy|Medieval
3            4                                            Ancient
4            5                        Economic|Territory Building
...        ...                                                ...
132436  358151                      Animals|Card Game|Educational
132437  358152  Expansion for Base-game|Card Game|Collectible ...
132438  358153                  Card Game|Children's Game|Fantasy
132439  358156                           Children's Game|Economic
132440  358159   Abstract Strategy|Expansion for Base-game|Puzzle

[132441 rows x 2 columns]

In [10]:
bgg_families_df.to_csv('../data/bgg_items_families.csv', index=False)

## BGG Items Mechanisms

In [11]:
# Obtenemos un dataframe con todos los datos de la tabla de juegos

sql_query = "SELECT * FROM game_mechanisms"
df = pd.read_sql_query(sql_query, conn)

In [12]:
bgg_mechanisms_df = df.groupby('gameId').agg({'name': lambda x: '|'.join(list(x))}).reset_index()

In [13]:
bgg_mechanisms_df

        gameId                                               name
0            1  Alliances|Area Majority / Influence|Auction/Bi...
1            2                                       Trick-taking
2            3  Area Majority / Influence|Hand Management|Hexa...
3            4  Action Points|Area Majority / Influence|Auctio...
4            5  Hand Management|Investment|Market|Square Grid|...
...        ...                                                ...
115633  358151                        Set Collection|Trick-taking
115634  358152  Area Majority / Influence|Hand Management|Modu...
115635  358153                          Hand Management|Take That
115636  358156   Dice Rolling|Roll / Spin and Move|Track Movement
115637  358159  Contracts|Hand Management|Pattern Building|Set...

[115638 rows x 2 columns]

In [14]:
bgg_mechanisms_df.to_csv('../data/bgg_items_mechanisms.csv', index=False)

## BGG Items Designers

In [15]:
# Obtenemos un dataframe con todos los datos de la tabla de juegos

sql_query = "SELECT * FROM game_designers"
df = pd.read_sql_query(sql_query, conn)

In [16]:
bgg_designers_df = df.groupby('gameid').agg({'name': lambda x: '|'.join(list(x))}).reset_index()

In [17]:
bgg_designers_df

        gameid                                      name
0            1                        Karl-Heinz Schmiel
1            2                     G. W. "Jerry" D'Arcey
2            3                             Reiner Knizia
3            4                         Christian Beierer
4            5                               Sid Sackson
...        ...                                       ...
111762  358139                                 Mark Kolb
111763  358145                             Antoine Bauza
111764  358151                          Emiliano Gunckel
111765  358152  Tom Braunlich|Jerry Darcy|Roland L. Tesh
111766  358159       Etienne Dubois-Roy|Pascale Brassard

[111767 rows x 2 columns]

In [18]:
bgg_designers_df.to_csv('../data/bgg_items_designers.csv', index=False)

## BGG Items Types

In [19]:
# Obtenemos un dataframe con todos los datos de la tabla de juegos

sql_query = "SELECT * FROM game_types"
df = pd.read_sql_query(sql_query, conn)

In [20]:
bgg_types_df = df.groupby('gameId').agg({'name': lambda x: '|'.join(list(x))}).reset_index()

In [21]:
bgg_types_df.to_csv('../data/bgg_items_types.csv', index=False)